In [14]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import csv
from csv import reader
from sklearn import preprocessing
from IPython.display import display

In [31]:
datei='adult.csv'
data=pd.read_csv(datei)
datareduziert = data[['age', 'workclass', 'education', 'gender', 'hours-per-week',
             'occupation', 'income']]
df= pd.DataFrame(datareduziert)

In [32]:
display(df.head(100))

,age,workclass,education,gender,hours-per-week,occupation,income
0,25,Private,11th,Male,40,Machine-op-inspct,<=50K
1,38,Private,HS-grad,Male,50,Farming-fishing,<=50K
2,28,Local-gov,Assoc-acdm,Male,40,Protective-serv,>50K
3,44,Private,Some-college,Male,40,Machine-op-inspct,>50K
4,18,?,Some-college,Female,30,?,<=50K
5,34,Private,10th,Male,30,Other-service,<=50K
6,29,?,HS-grad,Male,40,?,<=50K
7,63,Self-emp-not-inc,Prof-school,Male,32,Prof-specialty,>50K
8,24,Private,Some-college,Female,40,Other-service,<=50K
9,55,Private,7th-8th,Male,10,Craft-repair,<=50K
10,65,Private,HS-grad,Male,40,Machine-op-inspct,>50K
11,36,Federal-gov,Bachelors,Male,40,Adm-clerical,<=50K
12,26,Private,HS-grad,Female,39,Adm-clerical,<=50K
13,58,?,HS-grad,Male,35,?,<=50K
14,48,Private,HS-grad,Male,48,Machine-op-inspct,>50K
15,43,Private,Masters,Male,50,Exec-managerial,>50K
16,20,State-gov,Some-college,Male,25,Other-service,<=50K
17,43,Private,HS-grad,Female,30,Adm-clerical,<=50K
18,37,Private,HS-grad,Female,20,Machine-op-inspct,<=50K
19,40,Private,Doctorate,Male,45,Prof-specialty,>50K
20,34,Private,Bachelors,Male,47,Tech-support,>50K
21,34,Private,Some-college,Female,35,Other-service,<=50K
22,72,?,7th-8th,Female,6,?,<=50K
23,25,Private,Bachelors,Male,43,Prof-specialty,<=50K
24,25,Private,Bachelors,Male,40,Prof-specialty,<=50K
25,45,Self-emp-not-inc,HS-grad,Male,90,Craft-repair,>50K
26,22,Private,HS-grad,Male,20,Adm-clerical,<=50K
27,23,Private,HS-grad,Male,54,Machine-op-inspct,<=50K
28,54,Private,HS-grad,Male,35,Craft-repair,<=50K
29,32,Self-emp-not-inc,Some-college,Male,60,Prof-specialty,<=50K
...,...,...,...,...,...,...,...
70,55,Private,Some-college,Male,45,Exec-managerial,>50K
71,46,Private,Assoc-voc,Male,40,Tech-support,<=50K
72,30,Private,HS-grad,Male,40,Machine-op-inspct,<=50K
73,21,Private,Some-college,Female,40,Handlers-cleaners,<=50K
74,46,Private,Some-college,Male,40,Craft-repair,<=50K
75,17,?,10th,Male,40,?,<=50K
76,41,Private,HS-grad,Male,50,Machine-op-inspct,<=50K
77,69,Self-emp-inc,HS-grad,Male,30,Sales,<=50K
78,50,Private,HS-grad,Male,40,Transport-moving,<=50K
79,20,Private,Some-college,Female,40,Adm-clerical,<=50K
80,45,Self-emp-inc,Some-college,Male,50,Machine-op-inspct,<=50K
81,23,Private,Bachelors,Male,40,Exec-managerial,<=50K
82,24,Private,Some-college,Male,40,Other-service,<=50K
83,44,Self-emp-inc,HS-grad,Male,50,Craft-repair,>50K
84,31,Self-emp-not-inc,Some-college,Male,50,Craft-repair,<=50K
85,43,Private,HS-grad,Female,44,Machine-op-inspct,<=50K
86,20,Federal-gov,11th,Female,10,Other-service,<=50K
87,55,Private,HS-grad,Male,56,Sales,>50K
88,24,Federal-gov,Some-college,Male,40,Armed-Forces,<=50K
89,41,?,Masters,Female,10,?,>50K
90,59,Private,Bachelors,Female,25,Exec-managerial,<=50K
91,49,Federal-gov,7th-8th,Male,20,Other-service,<=50K
92,33,Private,Masters,Female,10,Prof-specialty,>50K
93,59,Federal-gov,Bachelors,Male,40,Adm-clerical,<=50K
94,34,Private,Masters,Male,40,Other-service,<=50K
95,20,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
96,25,Private,Bachelors,Female,40,Exec-managerial,<=50K
97,49,Private,10th,Male,40,Farming-fishing,<=50K
98,59,Private,HS-grad,Male,40,Transport-moving,>50K
99,20,Private,HS-grad,Female,40,Adm-clerical,<=50K

age und hours-per-week sind kontinuierliche Merkmale

workclass, education, gender, occupation sind kategorische Merkmale (Kein Wertebereich, sondern festgelegte Liste von Werte) -> qualitative Eigenschaft

# One-Hot-Kodierung

In [28]:
print(data.gender.value_counts())

Male      32650
Female    16192
Name: gender, dtype: int64

Kategorien aus Spalten herausziehen -> zu neuen Zeilen mit binären Werten machen

In [29]:
print("Original features:\n", list(data.columns), "\n")
data_dummies = pd.get_dummies(data)
print("Features after get_dummies:\n", list(data_dummies.columns))

Original features:
 ['age', 'workclass', 'fnlwgt', 'education', 'educational-num', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

Features after get_dummies:
 ['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week', 'workclass_?', 'workclass_Federal-gov', 'workclass_Local-gov', 'workclass_Never-worked', 'workclass_Private', 'workclass_Self-emp-inc', 'workclass_Self-emp-not-inc', 'workclass_State-gov', 'workclass_Without-pay', 'education_10th', 'education_11th', 'education_12th', 'education_1st-4th', 'education_5th-6th', 'education_7th-8th', 'education_9th', 'education_Assoc-acdm', 'education_Assoc-voc', 'education_Bachelors', 'education_Doctorate', 'education_HS-grad', 'education_Masters', 'education_Preschool', 'education_Prof-school', 'education_Some-college', 'marital-status_Divorced', 'marital-status_Married-AF-spouse', 'marital-status_Married-civ-spouse', 'marital-status_Married-spouse-absent', 'marital-status_Never-married', 'marital-status_Separated', 'marital-status_Widowed', 'occupation_?', 'occupation_Adm-clerical', 'occupation_Armed-Forces', 'occupation_Craft-repair', 'occupation_Exec-managerial', 'occupation_Farming-fishing', 'occupation_Handlers-cleaners', 'occupation_Machine-op-inspct', 'occupation_Other-service', 'occupation_Priv-house-serv', 'occupation_Prof-specialty', 'occupation_Protective-serv', 'occupation_Sales', 'occupation_Tech-support', 'occupation_Transport-moving', 'relationship_Husband', 'relationship_Not-in-family', 'relationship_Other-relative', 'relationship_Own-child', 'relationship_Unmarried', 'relationship_Wife', 'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black', 'race_Other', 'race_White', 'gender_Female', 'gender_Male', 'native-country_?', 'native-country_Cambodia', 'native-country_Canada', 'native-country_China', 'native-country_Columbia', 'native-country_Cuba', 'native-country_Dominican-Republic', 'native-country_Ecuador', 'native-country_El-Salvador', 'native-country_England', 'native-country_France', 'native-country_Germany', 'native-country_Greece', 'native-country_Guatemala', 'native-country_Haiti', 'native-country_Holand-Netherlands', 'native-country_Honduras', 'native-country_Hong', 'native-country_Hungary', 'native-country_India', 'native-country_Iran', 'native-country_Ireland', 'native-country_Italy', 'native-country_Jamaica', 'native-country_Japan', 'native-country_Laos', 'native-country_Mexico', 'native-country_Nicaragua', 'native-country_Outlying-US(Guam-USVI-etc)', 'native-country_Peru', 'native-country_Philippines', 'native-country_Poland', 'native-country_Portugal', 'native-country_Puerto-Rico', 'native-country_Scotland', 'native-country_South', 'native-country_Taiwan', 'native-country_Thailand', 'native-country_Trinadad&Tobago', 'native-country_United-States', 'native-country_Vietnam', 'native-country_Yugoslavia', 'income_<=50K', 'income_>50K']

In [19]:
data_dummies.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,income_<=50K,income_>50K
0,25,226802,7,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,38,89814,9,0,0,50,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,28,336951,12,0,0,40,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
3,44,160323,10,7688,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,18,103497,10,0,0,30,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [20]:
data_dummies.rename(columns={'income_>50K': 'mehrals50K'}, inplace=True)
data_dummies.keys()

Index(['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'workclass_?', 'workclass_Federal-gov',
       'workclass_Local-gov', 'workclass_Never-worked',
       ...
       'native-country_Scotland', 'native-country_South',
       'native-country_Taiwan', 'native-country_Thailand',
       'native-country_Trinadad&Tobago', 'native-country_United-States',
       'native-country_Vietnam', 'native-country_Yugoslavia', 'income_<=50K',
       'mehrals50K'],
      dtype='object', length=110)

In [21]:
data_dummies.to_csv('Adult_preprocessed.csv', encoding='utf-8', index=False)

Sind leere Zellen in der Tabelle vorhanden??

In [22]:
dataf=data_dummies
dataf.isnull().values.any()

False

Keine leeren Zellen!!

In [33]:
from sklearn.model_selection import train_test_split